# Keycloak Configuration
KEYCLOAK_URL=https://keycloak.yourdomain.com
KEYCLOAK_REALM_NAME=your-realm
KEYCLOAK_CLIENT_ID=service-client-id
KEYCLOAK_CLIENT_SECRET=service-client-secret

# External Service
FILE_SERVICE_URL=file_service_address

# Google Cloud - used only for service account setup
GCP_PROJECT_ID=your-gcp-project-id